{% extends "idp/oidc/base.html" %}
{% load i18n %}
{% load allauth %}

{% block title %}
  {% trans "Authorize" %}
{% endblock title %}

{% block content %}
  {% element h1 %}
  {% trans "Authorize" %} {{ client.name }}
{% endelement %}
{% element p %}
{% blocktranslate with client_name=client.name site_name=site.name %}{{ client_name }} wants to access your {{ site_name }} account.{% endblocktranslate %}
{% endelement %}
{% url 'idp:openid_connect:authorize' as authorize_url %}
{% element form method="post" action=authorize_url %}
{% slot body %}
{% csrf_token %}
{{ form }}
{% endslot %}
{% slot actions %}
{% element button_group %}
{% element button name="action" value="grant" type="submit" tags="primary,consent" %}
{% trans "Authorize" %}
{% endelement %}
{% element button name="action" value="cancel" type="submit" tags="outline,consent" %}
{% trans "Cancel" %}
{% endelement %}
{% endelement %}
{% endslot %}
{% endelement %}
{% endblock %}
