{% load i18n %}

<li class="list-group-item d-flex py-3">
  <div class="flex-grow-1">
    <div class="d-flex align-items-center gap-2">
      <span class="fw-medium text-gray-900">{{ email.email }}</span>
      <!-- Email badges -->
      <div class="d-flex gap-1">
        {% if email.primary %}
          <c-badge text="{% trans "Primary" %}" />
        {% endif %}
        {% if email.verified %}
          <c-badge variant="success" text="{% trans "Verified" %}" />
        {% else %}
          <c-badge variant="secondary"
                   text="{% trans "Unverified" %}" />
        {% endif %}
      </div>
    </div>
    {% if email.primary %}
      <div class="mt-1 small text-muted">
        {% trans "This email address is the default for notifications and account-related activity." %}
      </div>
    {% endif %}
  </div>
  <c-dropdown label="{% trans "Manage email" %} {{ email.email }}">
    <c-slot name="button">
      <c-button icon="settings"
                class="hide-action-text"
                text="Manage Email"
                data-bs-toggle="dropdown"
                aria-expanded="false" />
    </c-slot>
    <form action="{% url "account_email" %}" method="post">
      {% csrf_token %}
      <input type="hidden"
             name="email"
             value="{{ email.email }}" />
      {% if not email.primary %}
        <c-dropdown.item type="submit"
                         name="action_primary"
                         text="{% trans "Make Primary" %}" />
      {% endif %}
      {% if not email.verified %}
        <c-dropdown.item type="submit"
                         name="action_send"
                         text="{% trans "Re-send Verification" %}" />
      {% endif %}
      <c-dropdown.item type="submit"
                       class="link-danger"
                       icon="delete"
                       name="action_remove"
                       text="{% trans "Delete" %}"
                       confirm="{% trans "Are you sure you want to remove this email address from your account?" %}" />
    </form>
  </c-dropdown>
</li>
