{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}

{% block head_title %}
  {% if process == "connect" %}
    {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
  {% else %}
    {% trans "Sign In" %}
  {% endif %}
{% endblock head_title %}

{% block title %}
  {% if process == "connect" %}
    {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
  {% else %}
    {% blocktrans with provider.name as provider %}Sign in using {{ provider }}{% endblocktrans %}
  {% endif %}
{% endblock title %}

{% block content %}
  <c-entrance.text>
    {% if process == "connect" %}
      {% blocktrans with provider.name as provider %}You are about to connect a new third-party account from {{ provider }}.{% endblocktrans %}
    {% else %}
      {% blocktrans with provider.name as provider %}You are about to sign in using a third-party account from {{ provider }}.{% endblocktrans %}
    {% endif %}
  </c-entrance.text>
  <c-form method="post" action=".">
    {% csrf_token %}
    {{ redirect_field }}
    <c-button.stack>
      <c-button text="{% trans "Continue" %}"
                icon="login"
                type="submit"
                variant="primary"
                size="lg" />
    </c-button.stack>
  </c-form>
{% endblock content %}
