{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}

{% block title %}
  {% trans "Login Cancelled" %}
{% endblock title %}

{% block content %}
  {% url 'account_login' as login_url %}
  <c-entrance.text>
    {% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
  </c-entrance.text>
  <c-button.stack>
    <c-button href="{{ login_url }}"
              text="Sign in"
              icon="login"
              variant="primary"
              size="lg" />
  </c-button.stack>
{% endblock content %}
