{% load i18n account socialaccount %}

{% for provider in socialaccount_providers %}
  {% if provider.id == "openid_connect" %}
    {% for brand in provider.get_brands %}
      <c-button href="{% provider_login_url provider.id openid=brand.openid_url process="login" %}"
                text="{{ provider_name }}">
        {% if brand.icon_url %}
          <c-slot name="icon">
            <img src="{{ brand.icon_url }}" alt="{{ brand.name }}" />
          </c-slot>
        {% endif %}
      </c-button>
    {% endfor %}
  {% else %}
    <form method="post"
          action="{% provider_login_url provider.id %}">
      {% csrf_token %}
      <c-button type="submit"
                class="p-2 w-100 border-secondary-subtle justify-content-center align-items-center"
                icon="{{ provider.id }}"
                text="{{ provider.name }}" />
    </form>
  {% endif %}
{% endfor %}
