{% load i18n %}

<c-dac>
  <c-dac.title text="{% trans "Your subscriptions" %}" />
  {% if stripe_user.subscription_items.exists %}
    <c-dac.text text="{% trans 'You’re currently subscribed to:' %}" />
    {% if stripe_user %}
      <form method="post"
            action="{% url "stripe_portal_redirect" %}">
        {% csrf_token %}
        <c-dac.action type="submit"
                      text="{% trans "Manage subscriptions" %}" />
      </form>
    {% endif %}
    {% for item in stripe_user.subscription_items.all %}
      {% with item.price.product as product %}
        <c-dac.card title="{{ product.name }}"
                    help_text="{{ product.description }}">
          {% if item.subscription.current_period_end %}
            <p>
              <strong>{% trans "Next billing date:" %}</strong> {{ item.subscription.current_period_end|date:"F j, Y" }}
            </p>
          {% endif %}
          <h6>{% trans "Included Features" %}:</h6>
          <ul>
            {% for feature in product.linked_features.all %}<li>{{ feature.feature.description }}</li>{% endfor %}
          </ul>
        </c-dac.card>
      {% endwith %}
    {% endfor %}
  {% else %}
    <c-dac.text text="{% trans "Looks like you’re not subscribed yet. Explore our plans to get started." %}" />
    {# Current approach: just a button linking to the Pricing Page #}
    <c-dac.action href="{% url "stripe_pricing" %}"
                  text="{% trans "View available plans" %}" />
    {# Future swap: Uncomment to embed Stripe Pricing Table directly #}
    {% comment %} <stripe-pricing-table pricing-table-id="YOUR_TABLE_ID" publishable-key="YOUR_PUBLISHABLE_KEY">
    </stripe-pricing-table> {% endcomment %}
  {% endif %}
</c-dac>
