{% load allauth crispy_forms_tags %}
{% load allauth %}

{% for err in attrs.form.non_field_errors %}<div role="alert" class="alert alert-danger">{{ err }}</div>{% endfor %}
<form class="{% block form_class %}{% endblock %}
   " method="{{ attrs.method }}" {% if attrs.action %}action="{{ attrs.action }}"{% endif %}>
  {% slot body %}
{% endslot %}
{% slot actions %}
{% endslot %}
</form>
{% comment %} {% crispy attrs.form %} {% endcomment %}
{% comment %} {% for err in attrs.form.non_field_errors %}<div class="alert alert-danger">{{ err }}</div>{% endfor %}
<form method="{{ attrs.method }}" action="{{ attrs.action }}">
  {% slot body %}
{% endslot %}
{% slot actions %}
{% endslot %}
</form> {% endcomment %}
