<c-vars login_button_label="Login or Signup"
        user_menu_label="Toggle user menu" />
<div id="DAC-auth-user-toggle" class="{{ class }}">
  {% if user.is_authenticated %}
    <a href="#"
       class="nav-link pst-navbar-icon fs-2"
       data-bs-toggle="offcanvas"
       data-bs-target="#userFloatingNav"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       data-bs-original-title="{% trans user_menu_label %}">
      <c-dac.components.avatar />
      <span class="visually-hidden">{% trans user_menu_label %}</span></a>
  {% else %}
    <a href="{% url 'account_login' %}"
       class="nav-link pst-navbar-icon fs-4"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       data-bs-original-title="{% trans login_button_label %}">
      {% icon "login" class="fa-lg" %}
      <span class="visually-hidden">{% trans login_button_label %}</span></a>
  {% endif %}
</div>
