{% load i18n %}

<div class="container"
     hx-swap="outerHTML"
     hx-target="main"
     hx-select="main"
     hx-indicator="#mainIndicator">
  <div class="row gap-4">
    <div class="col-3 border-end bg-secondary-subtle vh-100 overflow-y-auto sticky-top">
      <c-dac.layout.sidebar />
    </div>
    <main id="dac-main" class="col-7 my-4"  hx->
      <c-icons.spinner id="mainIndicator"
                       class="htmx-indicator position-absolute top-0 end-0 m-3" />
      {% if page_title %}<c-text.title text="{{ page_title }}" />{% endif %}
      <div class="vstack gap-3">{{ slot }}</div>
    </main>
  </div>
</div>
