{% load i18n %}

<c-dac.page title="{% trans "MFA" %}">
    {% if "totp" in MFA_SUPPORTED_TYPES %}
        <c-dac.card title="{% trans "Authenticator App" %}">
            {% if authenticators.totp %}
                <c-dac.card.text text="{% trans "Authentication using an authenticator app is active." %}" />
            {% else %}
                <c-dac.card.text text="{% trans "You have not activated an authenticator app yet." %}" />
            {% endif %}
            <c-slot name="actions">
                {% if authenticators.totp %}
                    <c-dac.action variant="danger"
                                  href="{% url "mfa_deactivate_totp" %}"
                                  text="{% trans "Deactivate" %}" />
                {% else %}
                    <c-dac.action href="{% url "mfa_activate_totp" %}"
                                  text="{% trans "Activate" %}" />
                {% endif %}
            </c-slot>
        </c-dac.card>
    {% endif %}
    {% if "webauthn" in MFA_SUPPORTED_TYPES %}
        <c-dac.card title="{% trans "Security Keys" %}">
            {% if authenticators.webauthn|length %}
                <c-dac.card.text>
                    {% blocktranslate count count=authenticators.webauthn|length %}
                    You have added {{ count }} security key.{% plural %}You have added {{ count }} security keys.
                    {% endblocktranslate %}
                </c-dac.card.text>
                <c-slot name="actions">
                    <c-dac.action href="{% url "mfa_list_webauthn" %}"
                                  text="{% trans "Manage" %}" />
                </c-slot>
            {% else %}
                <c-dac.card.text text="{% trans "No security keys have been added." %}" />
                <c-slot name="actions">
                    <c-dac.action href="{% url "mfa_add_webauthn" %}"
                                  text="{% trans "Add key" %}" />
                </c-slot>
            {% endif %}
        </c-dac.card>
    {% endif %}
    {% if "recovery_codes" in MFA_SUPPORTED_TYPES %}
        {% with total_count=authenticators.recovery_codes.generate_codes|length unused_count=authenticators.recovery_codes.get_unused_codes|length %}
            <c-dac.card title="{% trans "Recovery Codes" %}">
                <c-dac.card.text>
                    {% if authenticators.recovery_codes %}
                        {% blocktranslate count unused_count=unused_count %}There is {{ unused_count }} out of {{ total_count }} recovery codes available.{% plural %}There are {{ unused_count }} out of {{ total_count }} recovery codes available.{% endblocktranslate %}
                    {% else %}
                        {% trans "No recovery codes set up." %}
                    {% endif %}
                </c-dac.card.text>
                <c-slot name="actions">
                    {% if authenticators.recovery_codes and unused_count > 0 %}
                        <c-dac.action href="{% url "mfa_view_recovery_codes" %}"
                                      text="{% trans "View" %}" />
                        <c-dac.action variant="secondary"
                                      href="{% url "mfa_download_recovery_codes" %}"
                                      text="{% trans "Download" %}" />
                    {% endif %}
                    <c-dac.action href="{% url "mfa_generate_recovery_codes" %}"
                                  text="{% trans "Generate" %}" />
                </c-slot>
            </c-dac.card>
        {% endwith %}
    {% endif %}
</c-dac.page>
