{% load i18n %}

<c-dac.page title="{% trans "Multi-factor Authentication" %}">
  {% if "totp" in MFA_SUPPORTED_TYPES %}
    <c-card title="{% trans "Authenticator App" %}"
            icon="mfa">
      {% if authenticators.totp %}
        <p>{% trans "Authentication using an authenticator app is active." %}</p>
        <c-slot name="footer_end">
          <c-button variant="danger"
                    href="{% url "mfa_deactivate_totp" %}"
                    text="{% trans "Deactivate" %}" />
        </c-slot>
      {% else %}
        <p>{% trans "You have not activated an authenticator app yet." %}</p>
        <c-slot name="footer_end">
          <c-button href="{% url "mfa_activate_totp" %}"
                    variant="primary"
                    text="{% trans "Activate" %}" />
        </c-slot>
      {% endif %}
    </c-card>
  {% endif %}
  {% if "webauthn" in MFA_SUPPORTED_TYPES %}
    <c-card title="{% trans "Security Keys" %}" icon="delete">
      {% if authenticators.webauthn|length %}
        <p>
          {% blocktranslate count count=authenticators.webauthn|length %}
                    You have added {{ count }} security key.{% plural %}You have added {{ count }} security keys.
                    {% endblocktranslate %}
        </p>
        <c-slot name="footer_end">
          <c-button href="{% url "mfa_list_webauthn" %}"
                    variant="primary"
                    text="{% trans "Manage" %}" />
        </c-slot>
      {% else %}
        <p>{% trans "No security keys have been added." %}</p>
        <c-slot name="footer_end">
          <c-button href="{% url "mfa_add_webauthn" %}"
                    variant="primary"
                    text="{% trans "Add key" %}" />
        </c-slot>
      {% endif %}
    </c-card>
  {% endif %}
  {% if "recovery_codes" in MFA_SUPPORTED_TYPES %}
    {% with total_count=authenticators.recovery_codes.generate_codes|length unused_count=authenticators.recovery_codes.get_unused_codes|length %}
      <c-card title="{% trans "Recovery Codes" %}"
              icon="password">
        <p>
          {% if authenticators.recovery_codes %}
            {% blocktranslate count unused_count=unused_count %}There is {{ unused_count }} out of {{ total_count }} recovery codes available.{% plural %}There are {{ unused_count }} out of {{ total_count }} recovery codes available.{% endblocktranslate %}
          {% else %}
            {% trans "No recovery codes set up." %}
          {% endif %}
        </p>
        <c-slot name="footer_end">
          <c-button icon="add"
                    variant="primary"
                    href="{% url "mfa_generate_recovery_codes" %}"
                    text="{% trans "Generate" %}" />
          {% if authenticators.recovery_codes and unused_count > 0 %}
            <c-button href="{% url "mfa_view_recovery_codes" %}"
                      variant="secondary"
                      text="{% trans "View" %}" />
            <c-button variant="secondary"
                      href="{% url "mfa_download_recovery_codes" %}"
                      text="{% trans "Download" %}" />
          {% endif %}
        </c-slot>
      </c-card>
    {% endwith %}
  {% endif %}
</c-dac.page>
