{% extends "mfa/base_manage.html" %}
{% load i18n %}

{% block title %}
  {% trans "Two-Factor Authentication" %}
{% endblock title %}

{% block page.breadcrumbs %}
  {{ block.super }}
  <c-breadcrumbs.item text="{% trans 'Two-Factor Authentication' %}" />
{% endblock page.breadcrumbs %}

{% block page.content %}
  {% if "totp" in MFA_SUPPORTED_TYPES %}
    <c-card title="{% trans 'Authenticator App' %}">
      {% if authenticators.totp %}
        <p>{% trans "Authentication using an authenticator app is active." %}</p>
        <c-button href="{% url 'mfa_deactivate_totp' %}"
                  variant="danger"
                  text="{% trans 'Deactivate' %}" />
      {% else %}
        <p>{% trans "An authenticator app is not active." %}</p>
        <c-button href="{% url 'mfa_activate_totp' %}"
                  variant="primary"
                  text="{% trans 'Activate' %}" />
      {% endif %}
    </c-card>
  {% endif %}
  {% if "recovery_codes" in MFA_SUPPORTED_TYPES %}
    <c-card title="{% trans 'Recovery Codes' %}">
      {% if authenticators.recovery_codes %}
        <p>
          {% blocktrans with unused=authenticators.recovery_codes.get_unused_codes|length total=authenticators.recovery_codes.generate_codes|length %}{{ unused }} of {{ total }} recovery codes remaining.{% endblocktrans %}
        </p>
      {% else %}
        <p>{% trans "No recovery codes set up." %}</p>
      {% endif %}
      {% if is_mfa_enabled and authenticators.recovery_codes %}
        <c-button href="{% url 'mfa_view_recovery_codes' %}"
                  variant="primary"
                  text="{% trans 'View' %}" />
        <c-button href="{% url 'mfa_download_recovery_codes' %}"
                  text="{% trans 'Download' %}" />
      {% endif %}
      <c-button href="{% url 'mfa_generate_recovery_codes' %}"
                text="{% trans 'Generate' %}" />
    </c-card>
  {% endif %}
  {% if "webauthn" in MFA_SUPPORTED_TYPES %}
    <c-card title="{% trans 'Security Keys' %}">
      {% with count=authenticators.webauthn|length %}
        {% if count %}
          <p>
            {% blocktrans count counter=count %}{{ counter }} security key registered.{% plural %}{{ counter }} security keys registered.{% endblocktrans %}
          </p>
        {% else %}
          <p>{% trans "No security keys registered." %}</p>
        {% endif %}
      {% endwith %}
      <c-button href="{% url 'mfa_list_webauthn' %}"
                variant="primary"
                text="{% trans 'Manage' %}" />
    </c-card>
  {% endif %}
{% endblock page.content %}
