{% load i18n %}

<c-dac.entrance title="{% trans "Confirm Access" %}"
                help="{% trans "Please reauthenticate to safeguard your account." %}">
  <p>{% trans "Enter an authenticator code:" %}</p>
  <c-dac.form method="post"
              action="{% url "mfa_reauthenticate" %}"
              :form="False">
    {% csrf_token %}
    <c-dac.form-field field=form.code unlabeled=True />
    {{ redirect_field }}
    <c-button type="submit"
              class="w-100"
              text="{% trans "Confirm" %}" />
  </c-dac.form>
  {% if reauthentication_alternatives %}
    <c-card.divider text="{% trans "Alternative options" %}" />
    <div class="space-y-3">
      {% for alt in reauthentication_alternatives %}
        <c-button variant="secondary"
                  class="w-100"
                  href="{{ alt.url }}">
          {{ alt.description }}
        </c-button variant="secondary">
      {% endfor %}
    </div>
  {% endif %}
</c-dac.entrance>
