{% load i18n dac %}

<c-dac.entrance title="{% trans "Trust this Browser?" %}"
                help="{% trans "If you choose to trust this browser, you will not be asked for a verification code the next time you sign in." %}">
  {% url "mfa_trust" as action_url %}
  {% render_form form action=action_url %}
  <c-vstack>
    <c-button name="action"
              value="trust"
              type="submit"
              form="{{ form.helper.form_id }}">
      {% blocktranslate with period=trust_until|timeuntil:trust_from %}Trust for {{ period }}{% endblocktranslate %}
    </c-button>
    <c-button variant="secondary"
              name="action"
              value="skip"
              type="submit"
              form="{{ form.helper.form_id }}">
      {% trans "Don't Trust" %}
    </c-button variant="secondary">
  </c-vstack>
  <p class="text-center small">
    {% comment %} action="{% url "account_logout" %}"
    method="post"
    csrf>
    <input type="hidden" value="{% url "account_login" %}" /> {% endcomment %}
  </p>
</c-dac.entrance>
