{% load i18n %}

<div class="px-3 py-2 bg-body border-top dropup-center dropup sticky-bottom">
  <div class="btn btn-outline-secondary border-0 d-flex align-items-center gap-2"
       data-bs-toggle="dropdown"
       aria-expanded="false">
    <div class="rounded-circle bg-primary d-inline-flex align-items-center justify-content-center"
         style="width: 2.5rem;
                height: 2.5rem">
      <span class="text-white small fw-medium">{{ user.get_short_name|default:user.username|slice:":1"|upper }}</span>
    </div>
    <div class="text-truncate">
      <p class="mb-0 small fw-semibold text-truncate">{{ user.get_full_name|default:user.username }}</p>
      <p class="mb-0 small text-truncate">{{ user.email }}</p>
    </div>
  </div>
  <ul class="dropdown-menu w-100">
    <c-dac.dropdown.item href="/"
                         text="{% trans "Return to site" %}"
                         icon="home" />
    <c-dac.dropdown.item variant="danger"
                         form="logoutForm"
                         type="submit"
                         text="{% trans "Sign Out" %}"
                         icon="logout"
                         size="small" />
  </ul>
  <form id="logoutForm"
        class="d-none"
        action="{% url "account_logout" %}"
        method="post">
    {% csrf_token %}
  </form>
</div>
