{% extends "mfa/totp/base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Activate Authenticator App" %}
{% endblock title %}

{% block page.breadcrumbs %}
  {{ block.super }}
  <c-breadcrumbs.item href="{% url 'mfa_index' %}"
                      text="{% trans 'Two-Factor Authentication' %}" />
  <c-breadcrumbs.item text="{% trans 'Activate' %}" />
{% endblock page.breadcrumbs %}

{% block page.content %}
  <c-form.card title="{% trans 'Activate Authenticator App' %}"
               method="post"
               action="{% url 'mfa_activate_totp' %}">
    {% csrf_token %}
    <c-slot name="actions">
      <c-button type="submit"
                variant="primary"
                text="{% trans 'Activate' %}" />
    </c-slot>
    <img src="{{ totp_svg_data_uri }}"
         alt="{% trans 'TOTP QR Code' %}"
         class="img-fluid mb-3" />
    <p>
      {% blocktrans with secret=form.secret.value %}Or enter this secret manually: <code>{{ secret }}</code>{% endblocktrans %}
    </p>
    {{ form.code }}
  </c-form.card>
{% endblock page.content %}
