{% load i18n cotton dac allauth %}

<c-dac.allauth.mfa title="{% trans "Deactivate Authenticator App" %}">
  <c-card title="{% trans "Deactivate Authenticator App" %}">
    <p>{% trans "You are about to deactivate authenticator app based authentication. Are you sure?" %}</p>
    {% url "mfa_deactivate_totp" as action_url %}
    <form method="post" action="{{ action_url }}">
      {% csrf_token %}
      {{ form.as_p }}
      <c-slot name="actions">
        <c-button variant="danger" type="submit">
          {% trans "Deactivate" %}
        </c-button variant="danger">
        <c-button variant="secondary" href="{% url "mfa_index" %}">
          {% trans "Cancel" %}
        </c-button variant="secondary">
      </c-slot>
    </form>
  </c-card>
</c-dac.allauth.mfa>
