{% extends "mfa/totp/base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Deactivate Authenticator App" %}
{% endblock title %}

{% block page.header %}
  {{ block.super }}
  <c-breadcrumbs.item href="{% url 'mfa_index' %}"
                      text="{% trans 'Two-Factor Authentication' %}" />
  <c-breadcrumbs.item text="{% trans 'Deactivate' %}" />
{% endblock page.header %}

{% block page.content %}
  <c-form.card method="post"
               action="{% url 'mfa_deactivate_totp' %}"
               title="{% trans 'Deactivate Authenticator App' %}"
               :form-obj="form">
    <c-slot name="form_actions">
      <c-button type="submit"
                variant="danger"
                text="{% trans 'Deactivate' %}" />
    </c-slot>
  </c-form.card>
{% endblock page.content %}
