{% load i18n cotton easy_icons %}

{# djlint:off #}
<c-vars variant="info"
        :variant_dict="{ 
                'info': 'alert-info', 
                'debug': 'alert-secondary', 
                'error': 'alert-danger', 
                'danger': 'alert-danger', 
                'warning': 'alert-warning', 
                'success': 'alert-success', }" />
{# djlint:on #}
<div class="alert {{ variant_dict|get_item:variant }}{% if dismissable %} alert-dismissible fade show{% endif %} border-0 shadow-sm"
     role="alert">
  <div class="d-flex align-items-start gap-3">
    <div class="flex-shrink-0 mt-1">{% icon variant %}</div>
    <div class="flex-grow-1">
      <div class="mb-0 fw-medium">{{ message }}</div>
    </div>
  </div>
  {% if dismissable %}
    <button type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="{% trans "Close" %}"></button>
  {% endif %}
</div>
