{% load static dac i18n %}

{% block head %}
  <title>{% trans "Login" %}</title>
{% endblock head %}

<c-dac.full-screen>
  <div class="row align-items-center">
    <!-- Left column with image and overlay text -->
    <div class="col-md-6 vh-100 d-none d-md-flex flex-column justify-content-center align-items-center bg-primary bg-gradient text-bg-primary overflow-hidden">
      <c-dac.entrance.image-overlay />
    </div>
    <!-- Right column with login form -->
    <div class="col col-md-6 px-2 py-5 px-md-5 py-md-3">
      <div class="w-100">{{ slot }}</div>
    </div>
  </div>
</c-dac.full-screen>
