{% load i18n flex_menu easy_icons %}

<div class="navbar navbar-expand-lg bg-body d-lg-none sticky-top shadow-sm">
  <div class="container-fluid">
    <!-- Offcanvas toggle button -->
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#sidebar"
            aria-controls="sidebar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand d-flex align-items-center text-decoration-none position-absolute start-50 translate-middle-x"
       href="{% url "account-center" %}">
      {% icon "dac" renderer="svg" class="d-inline-block me-2" height="28px" %}
      <span class="fs-5 fw-semibold text-dark">{% trans "Account Center" %}</span>
    </a>
  </div>
</div>
