{% extends "dac/base.html" %}
{% block title %}
  {{ title }}
{% endblock title %}

{% block body %}
  <div id="dac-standard-layout" class="d-flex h-100">
    <div id="mainMenu"
         class="offcanvas-md offcanvas-start vh-100 col-md-3">
      <c-dac.sidebar />
    </div>
    <!-- Main content -->
    <div class="d-flex flex-grow-1 flex-column min-vh-100">
      <!-- Top navigation with page header -->
      <c-dac.header />
      <!-- Page content -->
      <main class="container-fluid overflow-auto d-flex flex-column gap-3 flex-grow-1 py-4 px-3 px-md-4">
        <c-dac.breadcrumbs />
        {% for message in messages %}
          <c-dac.alert variant="{{ message.tags }}"
                       message="{{ message }}"
                       dismissable />
        {% endfor %}
        {{ slot }}
      </main>
    </div>
  </div>
{% endblock body %}
