{% load i18n %}

<c-vars change_title="{% trans "Change" %}"
        action
        change_url
        resend_url
        resend_supported />
<c-entrance.text>
  {% blocktrans %}We sent a code to <a href="{{ phone|yesno:"tel,mailto"}}:{{ recipient }}">{{ recipient }}</a>. The code expires shortly, so please enter it soon.{% endblocktrans %}
</c-entrance.text>
<c-form method="post"
        :form-obj="verify_form"
        action="{{ action }}">
  {{ redirect_field }}
  <c-button.stack>
    <c-button text="{% trans "Confirm" %}"
              icon="check-circle"
              type="submit"
              variant="primary"
              size="lg" />
    {% if resend_supported %}
      {% if can_resend %}
        <c-button text="{% trans "Request new code" %}"
                  icon="arrow-repeat"
                  type="submit"
                  form="resend"
                  outline />
      {% else %}
        <c-button text="{% trans "Request new code" %}"
                  icon="arrow-repeat"
                  outline
                  disabled />
      {% endif %}
    {% endif %}
    <c-button text="{% trans "Cancel" %}"
              icon="x-circle"
              outline
              {% if cancel_url %} href="{{ cancel_url }}"{% else %} type="submit" form="logout-from-stage"{% endif %}>
    </c-button>
  </c-button.stack>
</c-form>
{% if resend_supported %}
  <c-form id="resend"
          method="post"
          action="{{ resend_url }}">
    {{ redirect_field }}
    <input type="hidden" name="action" value="resend" />
  </c-form>
{% endif %}
{% if not cancel_url %}
  <c-form id="logout-from-stage"
          method="post"
          action="{% url 'account_logout' %}">
    <input type="hidden"
           name="next"
           value="{% url 'account_login' %}" />
  </c-form>
{% endif %}
{% if can_change %}
  <c-entrance.section>
    <c-form method="post"
            renderer="crispy"
            :form-obj="change_form"
            action="{{ action_url_change }}">
      {{ redirect_field }}
      <c-button text="{{ change_title }}"
                name="action"
                value="change"
                type="submit" />
    </c-form>
  </c-entrance.section>
{% endif %}
