{% extends "account/base_entrance.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm Access" %}{% endblock title %}

{% block content %}
  <c-entrance.section text="{% trans "Please reauthenticate to safeguard your account." %}">
    {% block reauthenticate_content %}{% endblock %}
  </c-entrance.section>
  {% if reauthentication_alternatives %}
    <c-card.divider text="{% trans "Alternative options" %}" />
    <c-button.stack>
      {% for alt in reauthentication_alternatives %}
        <c-button href="{{ alt.url }}" variant="outline-primary" text="{{ alt.description }}" />
      {% endfor %}
    </c-button.stack>
  {% endif %}
{% endblock content %}
