{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}

{% block head_title %}
  {% block head_title_ %}
  {% endblock head_title_ %}
{% endblock head_title %}

{% block title %}
  {% block title_ %}
  {% endblock title_ %}
{% endblock title %}

{% block content %}
  {# djlint:off #}
  {% setvar recipient_ %}{% block recipient %}{% endblock recipient %}{% endsetvar %}
  <p>
    {% blocktrans with recipient=recipient_ %}We've sent a code to {{ recipient }}. The code expires shortly, so please enter it soon.{% endblocktrans %}
  </p>
  <c-form method="post" action="{% block action_url %}{% endblock action_url %}">
    {% csrf_token %}
    <c-form.crispy form=verify_form unlabeled=True />
    {{ redirect_field }}
    <c-button.stack>
      <c-button type="submit" {% block submit_button_tags %}tags="{% block extra_tags %}{% endblock extra_tags %}"{% endblock submit_button_tags %}>
        {% trans "Confirm" %}
      </c-button>
      {% if can_resend %}
        <c-button type="submit" form="resend">{% trans "Request new code" %}</c-button>
      {% endif %}
      {% if cancel_url %}
        <c-button href="{{ cancel_url }}">{% trans "Cancel" %}</c-button>
      {% else %}
        <c-button type="submit" form="logout-from-stage">{% trans "Cancel" %}</c-button>
      {% endif %}
    </c-button.stack>
  </c-form>
  <form id="resend" method="post" action="{% block action_url_resend %}{% endblock action_url_resend %}">
    {% csrf_token %}
    <input type="hidden" name="action" value="resend" />
    {{ redirect_field }}
  </form>
  {% if not cancel_url %}
    <form id="logout-from-stage" method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      <input type="hidden" name="next" value="{% url 'account_login' %}" />
    </form>
  {% endif %}
  {% if can_change %}
    <details class="mt-3">
      <summary>{% block change_title %}{% trans "Change" %}{% endblock change_title %}</summary>
      <c-form method="post" action="{% block action_url_change %}{% endblock action_url_change %}">
        {% csrf_token %}
        <c-form.crispy form=change_form />
        {{ redirect_field }}
        <c-button name="action" value="change" type="submit">{% trans "Change" %}</c-button>
      </c-form>
    </details>
  {% endif %}
  {# djlint:on #}
{% endblock content %}
