{% extends "account/base_entrance.html" %}
{% load i18n %}

{% block title %}
  {% trans "Enter verification code" %}
{% endblock title %}

{% block content %}
  <c-allauth.confirm-code recipient="{{ email }}"
                          action="{% url 'account_email_verification_sent' %}"
                          resend-url="{% url 'account_email_verification_sent' %}"
                          change-title="{% trans "Use a different email address" %}"
                          resend-supported />
{% endblock content %}
