{% extends "account/base_confirm_code.html" %}
{% load i18n %}

{% block title_ %}
  {% trans "Enter Password Reset Code" %}
{% endblock title_ %}

{% block recipient %}
  <a href="mailto:{{ email }}">{{ email }}</a>
{% endblock recipient %}

{% block action_url %}
  {% url 'account_confirm_password_reset_code' as confirm_code_url %}{{ confirm_code_url }}
{% endblock action_url %}

{% block action_url_resend %}
  {% url 'account_confirm_password_reset_code' as confirm_code_url_resend %}{{ confirm_code_url_resend }}
{% endblock action_url_resend %}

{% block extra_tags %}
  email,verification
{% endblock extra_tags %}
