{% extends "account/base_entrance.html" %}
{% load i18n %}

{% block head_title %}
  {% trans "Enter Sign-In Code" %}
{% endblock head_title %}

{% block title %}
  {% trans "Enter Sign-In Code" %}
{% endblock title %}

{% block content %}
  <c-entrance.section>
    <c-entrance.text>
      {% if email %}
        {% blocktrans %}We sent a code to <a href="mailto:{{ email }}">{{ email }}</a>.{% endblocktrans %}
      {% elif phone %}
        {% blocktrans %}We sent a code to <a href="tel:{{ phone }}">{{ phone }}</a>.{% endblocktrans %}
      {% endif %}
    </c-entrance.text>
    {% if can_resend %}
      <form id="resend" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="resend" />
      </form>
    {% endif %}
    {% if cancel_url %}
      <form id="logout-from-stage" method="post">
        {% csrf_token %}
      </form>
    {% endif %}
    <c-form method="post" action=".">
      <c-form.crispy form=verify_form />
      {{ redirect_field }}
      <c-button.stack>
        <c-button text="{% trans "Confirm" %}"
                  icon="check-circle"
                  type="submit"
                  variant="primary"
                  size="lg" />
        {% if can_resend %}
          <c-button type="submit"
                    form="resend"
                    text="{% trans "Resend Code" %}"
                    icon="arrow-repeat"
                    class="border-light-subtle" />
        {% endif %}
        {% if cancel_url %}
          <c-button href="{{ cancel_url }}"
                    text="{% trans "Cancel" %}"
                    icon="x-circle"
                    class="border-light-subtle" />
        {% else %}
          <c-button type="submit"
                    form="logout-from-stage"
                    text="{% trans "Cancel" %}"
                    icon="x-circle"
                    class="border-light-subtle" />
        {% endif %}
      </c-button.stack>
    </c-form>
  </c-entrance.section>
{% endblock content %}
