{% load i18n account %}

<c-dac.entrance title="{% trans "Enter Password Reset Code" %}"
                help="{% blocktranslate with recipient=email %}We've sent a code to {{ recipient }}. The code expires shortly, so please enter it soon.{% endblocktranslate %}">
  {% url "account_confirm_password_reset_code" as action_url %}
  {% render_form verify_form action=action_url %}
  <c-button variant="primary"
            text="{% trans "Confirm" %}"
            type="submit"
            form="{{ verify_form.helper.form_id }}" />
  {% if can_resend %}
    <p class="text-center small">
      <form id="resend"
            method="post"
            action="{{ action_url }}"
            style="display: inline">
        <input type="hidden" name="action" value="resend" />
        {% csrf_token %}
        <c-link onclick="document.getElementById('resend').submit(); return false;"
                text="{% trans "Request new code" %}" />
      </form>
    </p>
  {% endif %}
  {% if cancel_url %}
    <p class="text-center small">
      <c-link href="{{ cancel_url }}"
              text="{% trans "Cancel" %}" />
    </p>
  {% else %}
    <p class="text-center small">
      <form id="logout-from-stage"
            method="post"
            action="{% url "account_logout" %}"
            style="display: inline">
        <input type="hidden"
               name="next"
               value="{% url "account_login" %}" />
        {% csrf_token %}
        <c-link onclick="document.getElementById('logout-from-stage').submit(); return false;"
                text="{% trans "Cancel" %}" />
      </form>
    </p>
  {% endif %}
  {% if can_change %}
    <c-card.divider text="{% trans "Change email address" %}" />
    {% render_form change_form action=action_url %}
    <div>
      <c-button variant="primary"
                text="{% trans "Change" %}"
                type="submit"
                form="{{ change_form.helper.form_id }}">
      </c-button variant="primary">
    </div>
  {% endif %}
</c-dac.entrance>
