{% load static i18n dac easy_icons %}

<c-dac.page title="{% trans "Email Settings" %}">
  <c-page.form-section>
    <c-card icon="email"
            title="{% trans "Email Addresses" %}">
      {% if emailaddresses %}
        <p>{% trans "The following email addresses are associated with your account:" %}</p>
        <ul class="list-group list-group-flush">
          {% for email in emailaddress_radios %}<c-dac.manage-email :email="email.emailaddress" />{% endfor %}
        </ul>
      {% else %}
        {% include "account/snippets/warn_no_email.html" %}
      {% endif %}
      <c-slot name="footer_start">
        <form id="addEmailForm"
              action="{% url "account_email" %}"
              method="post"
              class="w-100">
          {% csrf_token %}
          <div class="input-group w-100">
            <input type="email"
                   name="{{ form.email.name }}"
                   id="{{ form.email.id_for_label }}"
                   class="form-control {% if form.email.errors %}is-invalid{% endif %}"
                   placeholder="{% trans "Add another email address" %}"
                   required
                   {% if not can_add_email %}disabled{% endif %} />
            <c-button type="submit"
                      variant="primary"
                      icon="add"
                      text="{% trans "Add" %}"
                      name="action_add"
                      {% if not can_add_email %}disabled{% endif %} />
          </div>
          {% if form.email.errors %}<div class="invalid-feedback d-block">{{ form.email.errors.0 }}</div>{% endif %}
        </form>
      </c-slot>
    </c-card>
    <script src="{% static "account/js/account.js" %}"></script>
    <script src="{% static "account/js/onload.js" %}"></script>
    {# djlint:off #}
    <script data-allauth-onload="allauth.account.forms.manageEmailForm" type="application/json">
      {
        "i18n": {
          "confirmDelete": "{% trans 'Do you really want to remove the selected email address?' %}"
        }
      }
</script>
    {# djlint:on #}
  </c-page.form-section>
</c-dac.page>
