{% extends "account/base_entrance.html" %}
{% load i18n account %}

{% block title %}
  {% trans "Confirm Email Address" %}
{% endblock title %}

{% block content %}
  {% with email=confirmation.email_address.email %}
    {% if confirmation %}
      {% user_display confirmation.email_address.user as user_display %}
      {% if can_confirm %}
        {% url 'account_confirm_email' confirmation.key as action_url %}
        <c-entrance.text>
          {% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.{% endblocktrans %}
        </c-entrance.text>
        <c-form method="post" action="{{ action_url }}">
          {{ redirect_field }}
          <c-button.stack>
            <c-button type="submit"
                      icon="check-circle"
                      size="lg"
                      variant="primary">
              {% trans "Confirm" %}
            </c-button>
          </c-button.stack>
        </c-form>
      {% else %}
        <c-entrance.text>
          {% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}
        </c-entrance.text>
      {% endif %}
    {% else %}
      {% url 'account_email' as email_url %}
      <c-entrance.text>
        {% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.{% endblocktrans %}
      </c-entrance.text>
    {% endif %}
  {% endwith %}
{% endblock content %}
