{% extends "account/base_manage_email.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}
  {% trans "Email Address" %}
{% endblock title %}

{% block content %}
  {% if not emailaddresses %}
    {% include "account/snippets/warn_no_email.html" %}
  {% endif %}
  {% url 'account_email' as action_url %}
  <c-form.card method="post" action="{{ action_url }}">
    {% if current_emailaddress %}
      <div class="mb-3">
        <label class="form-label">{% trans "Current email" %}:</label>
        <input class="form-control"
               id="current_email"
               type="email"
               disabled
               value="{{ current_emailaddress.email }}" />
      </div>
    {% endif %}
    {% if new_emailaddress %}
      <div class="mb-3">
        <label class="form-label">
          {% if not current_emailaddress %}
            {% trans "Current email" %}:
          {% else %}
            {% trans "Changing to" %}:
          {% endif %}
        </label>
        <input class="form-control"
               id="new_email"
               type="email"
               disabled
               value="{{ new_emailaddress.email }}" />
        <div class="form-text">
          {% blocktrans %}Your email address is still pending verification.{% endblocktrans %}
        </div>
        <div class="mt-2">
          <c-button form="pending-email"
                    type="submit"
                    name="action_send"
                    variant="secondary"
                    size="sm"
                    text="{% trans 'Re-send Verification' %}" />
          {% if current_emailaddress %}
            <c-button form="pending-email"
                      type="submit"
                      name="action_remove"
                      variant="danger"
                      size="sm"
                      text="{% trans 'Cancel Change' %}" />
          {% endif %}
        </div>
      </div>
    {% endif %}
    {{ form.email|as_crispy_field }}
    <c-button.stack>
      <c-button name="action_add"
                type="submit"
                variant="primary"
                text="{% trans 'Change Email' %}" />
    </c-button.stack>
  </c-form.card>
  {% if new_emailaddress %}
    <form style="display: none"
          id="pending-email"
          method="post"
          action="{% url 'account_email' %}">
      {% csrf_token %}
      <input type="hidden"
             name="email"
             value="{{ new_emailaddress.email }}" />
    </form>
  {% endif %}
{% endblock content %}
