{% extends "account/base_entrance.html" %}
{% load i18n socialaccount %}

{% block title %}
  {% trans "Sign in to your account" %}
{% endblock title %}

{% block content %}
  {% get_providers as socialaccount_providers %}
  {% if SOCIALACCOUNT_ENABLED and socialaccount_providers %}
    <c-entrance.section text="{% trans "Using your preferred third-party provider." %}">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </c-entrance.section>
    {% if not SOCIALACCOUNT_ONLY %}
      <c-card.divider text="{% trans "or" %}" />
    {% endif %}
  {% endif %}
  {% if not SOCIALACCOUNT_ONLY %}
    <c-entrance.section text="{% trans "Using the details you signed up with." %}">
      <c-form method="post" :form-obj="form">
        {{ redirect_field }}
        <c-button.stack>
          <c-button text="{% trans "Sign in" %}"
                    icon="login"
                    size="lg"
                    type="submit"
                    variant="primary"
                    reverse />
        </c-button.stack>
      </c-form>
    </c-entrance.section>
  {% endif %}
  {% if not SOCIALACCOUNT_ONLY and PASSKEY_LOGIN_ENABLED or not SOCIALACCOUNT_ONLY and LOGIN_BY_CODE_ENABLED %}
    <c-card.divider text="{% trans "or" %}" />
    <c-entrance.section>
      <c-button.stack>
        {% if PASSKEY_LOGIN_ENABLED %}
          <c-button type="submit"
                    form="mfa_login"
                    id="passkey_login"
                    text="{% trans "Sign in with a passkey" %}"
                    size="lg"
                    icon="passkey"
                    class="border-light-subtle" />
        {% endif %}
        {% if LOGIN_BY_CODE_ENABLED %}
          <c-button href="{{ request_login_code_url }}"
                    text="{% trans "Send me a sign-in code" %}"
                    size="lg"
                    icon="passcode"
                    class="border-light-subtle" />
        {% endif %}
      </c-button.stack>
    </c-entrance.section>
  {% endif %}
  {% if signup_url %}
    <c-text small>
      {% blocktrans %}Don't have an account? <a href="{{ signup_url }}">Sign up</a>.{% endblocktrans %}
    </c-text>
  {% endif %}
{% endblock content %}

{% block extra_js %}
  {{ block.super }}
  {% if not SOCIALACCOUNT_ONLY and PASSKEY_LOGIN_ENABLED %}
    {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
  {% endif %}
{% endblock extra_js %}
