{% extends "account/base_entrance.html" %}
{% load i18n socialaccount %}

{% block head_title %}
  {% trans "Sign In" %}
{% endblock head_title %}

{% block title %}
  {% trans "Sign in" %}
{% endblock title %}

{% block content %}
  {% get_providers as socialaccount_providers %}
  {% if SOCIALACCOUNT_ENABLED and socialaccount_providers %}
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    {% if not SOCIALACCOUNT_ONLY %}<c-card.divider text="or" />{% endif %}
  {% endif %}
  {% if not SOCIALACCOUNT_ONLY %}
    <c-form method="post" action=".">
      <c-form.crispy />
      {{ redirect_field }}
      <c-button.stack class="mt-4">
        <c-button text="Sign in"
                  icon="login"
                  size="lg"
                  type="submit"
                  variant="primary"
                  reverse />
      </c-button.stack>
    </c-form>
  {% endif %}
  {% if not SOCIALACCOUNT_ONLY and PASSKEY_LOGIN_ENABLED or not SOCIALACCOUNT_ONLY and LOGIN_BY_CODE_ENABLED %}
    <c-card.divider text="or" />
    <c-button.stack>
      {% if PASSKEY_LOGIN_ENABLED %}
        <c-button type="submit"
                  form="mfa_login"
                  id="passkey_login"
                  text="Sign in with a passkey"
                  icon="passkey"
                  class="border-light-subtle" />
      {% endif %}
      {% if LOGIN_BY_CODE_ENABLED %}
        <c-button href="{{ request_login_code_url }}"
                  text="Send me a sign-in code"
                  icon="passcode"
                  class="border-light-subtle" />
      {% endif %}
    </c-button.stack>
  {% endif %}
  {% if signup_url %}
    <c-entrance.text class="mt-4 mb-0">
      {% blocktrans %}Don't have an account? <a href="{{ signup_url }}">Sign up</a>.{% endblocktrans %}
    </c-entrance.text>
  {% endif %}
{% endblock content %}

{% block extra_body %}
  {{ block.super }}
  {% if PASSKEY_LOGIN_ENABLED %}
    {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
  {% endif %}
{% endblock extra_body %}
