{% load i18n account %}

<c-dac.entrance title="{% trans "Check Your Email" %}"
                type="success"
                subtitle="{% trans "We've sent a password reset link to your email address." %}">
    {% if user.is_authenticated %}
        <c-dac.alert style="info">
            {% trans "You are already signed in." %}
        </c-dac.alert>
    {% endif %}
    <c-dac.alert title="{% trans "What's next?" %}">
        <ul>
            <li>{% trans "Check your email inbox for our message" %}</li>
            <li>{% trans "Click the reset link within 24 hours" %}</li>
            <li>{% trans "Create a new secure password" %}</li>
        </ul>
    </c-dac.alert>
    <c-dac.alert style="secondary"
                 title="{% trans "Didn't receive the email?" %}">
        <ul>
            <li>{% trans "Check your spam or junk folder" %}</li>
            <li>{% trans "Make sure you entered the correct email address" %}</li>
            <li>{% trans "Wait a few minutes - emails can sometimes be delayed" %}</li>
        </ul>
    </c-dac.alert>
    <c-dac.action-group vstack>
        <c-dac.entrance.action.secondary href="{% url "account_reset_password" %}"
                                         style="secondary"
                                         icon="refresh"
                                         text="{% trans "Resend Reset Email" %}" />
        <c-dac.entrance.action.primary href="{% url "account_login" %}"
                                       style="secondary"
                                       icon="arrow_right"
                                       text="{% trans "Continue to Sign In" %}" />
    </c-dac.action-group>
</c-dac.entrance>
