{% extends "account/base_manage_password.html" %}
{% load i18n %}

{% block title %}
  {% trans "Set Password" %}
{% endblock title %}

{% block breadcrumbs %}
  {{ block.super }}
  <c-breadcrumbs.item text="{% trans "Set Password" %}" />
{% endblock breadcrumbs %}

{% block page.content %}
  <c-form.card method="post"
               action="{% url 'account_set_password' %}"
               :form-obj="form">
    {{ redirect_field }}
    <c-slot name="actions">
      <c-group>
        <c-button type="submit"
                  variant="primary"
                  text="{% trans "Set Password" %}" />
      </c-group>
    </c-slot>
  </c-form.card>
{% endblock page.content %}
