{% load i18n dac %}

<c-dac.entrance title="{% trans "Reset Password" %}"
                subtitle="{% trans "Enter your email address and we'll send you a secure link to reset your password." %}">
  {% if user.is_authenticated %}
    <c-dac.alert>
      {% trans "You are already signed in. Please sign out first if you want to reset a different account's password." %}
    </c-dac.alert>
  {% endif %}
  <c-dac.form method="post"
              action="{% url "account_reset_password" %}"
              :form="form">
    {{ redirect_field }}
    <c-dac.entrance.action.primary text="{% trans "Send Reset Email" %}"
                                   type="submit"
                                   icon="message" />
  </c-dac.form>
  <c-dac.card.text small center>
    {% trans "Having trouble? Check your spam folder or contact support for assistance." %}
  </c-dac.card.text>
  <c-dac.card.text small center>
    {% trans "Remember your password?" %}
    <c-dac.link href="{{ login_url }}"
                text="{% trans "Sign in" %}" />
  </c-dac.card.text>
</c-dac.entrance>
