{% extends "account/base_manage_password.html" %}
{% load i18n dac %}

{% block content %}
  {% url 'account_change_password' as action_url %}
  <c-dac.title text="{% trans "Change Password" %}" />
  <c-dac.card>
    {% render_form form action=action_url hx_post=action_url %}
    <c-slot name="actions">
      <c-dac.action style="primary"
                    type="submit"
                    form="{{ form.helper.form_id }}"
                    text="{% trans "Change Password" %}" />
      <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </c-slot>
  </c-dac.card>
{% endblock content %}
