{% extends "account/base_entrance.html" %}
{% load i18n account %}

{% block title %}
  {% if token_fail %}
    {% trans "Bad Token" %}
  {% else %}
    {% trans "Change Password" %}
  {% endif %}
{% endblock title %}

{% block content %}
  {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <c-entrance.text>
      {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
    </c-entrance.text>
  {% else %}
    <c-form method="post"
            action="{{ action_url }}"
            :form-obj="form">
      {{ redirect_field }}
      <c-button.stack>
        <c-button text="{% trans "Confirm" %}"
                  icon="submit"
                  size="lg"
                  type="submit"
                  variant="primary" />
        {% if cancel_url %}
          <c-button text="{% trans "Cancel" %}"
                    href="{{ cancel_url }}"
                    icon="x-circle"
                    size="lg"
                    class="border-secondary-subtle" />
        {% else %}
          <c-button text="{% trans "Cancel" %}"
                    href="{{ cancel_url }}"
                    icon="x-circle"
                    type="submit"
                    form="logout-from-stage"
                    size="lg"
                    class="border-secondary-subtle" />
        {% endif %}
      </c-button.stack>
    </c-form>
    {% if not cancel_url %}
      <form id="logout-from-stage"
            method="post"
            action="{% url 'account_logout' %}">
        {% csrf_token %}
        <input type="hidden"
               name="next"
               value="{% url 'account_login' %}" />
      </form>
    {% endif %}
  {% endif %}
{% endblock content %}
