{% extends "account/base_manage_password.html" %}
{% load i18n %}

{% block title %}
  {% trans "Change Password" %}
{% endblock title %}

{% block breadcrumbs %}
  {{ block.super }}
  <c-breadcrumbs.item text="{% trans "Change Password" %}" />
{% endblock breadcrumbs %}

{% block page.content %}
  <c-form.card method="post"
               title="{% trans "Change Password" %}"
               action="{% url 'account_change_password' %}"
               :form-obj="form">
    {{ redirect_field }}
    <c-slot name="actions">
      <c-button type="submit"
                variant="primary"
                text="{% trans "Change Password" %}" />
      <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </c-slot>
  </c-form.card>
{% endblock page.content %}
