{% load i18n %}

{% if token_fail %}
  <c-dac.entrance title="{% trans "Bad Token" %}"
                  help="{% trans "The password reset link was invalid. You may try again by requesting a new password reset." %}">
    <c-button variant="primary"
              href="{% url "account_reset_password" %}"
              text="{% trans "Password Reset" %}" />
  </c-dac.entrance>
{% else %}
  <c-dac.entrance title="{% trans "Change Password" %}"
                  help="{% trans "Please provide a new password for your account" %}">
    <c-dac.form method="post"
                action="{{ action_url }}"
                :form="form">
      {{ redirect_field }}
      <c-vstack>
        <c-button text="{% trans "Change Password" %}"
                  type="submit"
                  variant="primary"
                  name="action" />
        <c-button text="{% trans "Cancel" %}"
                  variant="secondary"
                  icon="cancel"
                  type="submit"
                  form="logout-from-stage" />
      </c-vstack>
    </c-dac.form>
    {% if not cancel_url %}
      <form id="logout-from-stage"
            method="post"
            action="{% url "account_logout" %}">
        <input type="hidden"
               name="next"
               value="{% url "account_login" %}" />
        {% csrf_token %}
      </form>
    {% endif %}
  </c-dac.entrance>
{% endif %}
