{% load i18n %}

{% if token_fail %}
    <c-dac.layout.entrance title="{% trans "Bad Token" %}"
                           type="warning"
                           subtitle="{% trans "The password reset link was invalid. You may try again by requesting a new password reset." %}">
        <c-dac.entrance.action.primary href="{% url "account_reset_password" %}"
                                       text="{% trans "Password Reset" %}" />
    </c-dac.layout.entrance>
{% else %}
    <c-dac.layout.entrance title="{% trans "Change Password" %}"
                           subtitle="{% trans "You have successfully changed your password." %}">
        <c-dac.form method="post"
                    action="{{ action_url }}"
                    :form="form">
            {{ redirect_field }}
            {% comment %} {% for field in form %}
                <c-dac.form.field name="{{ field.name }}" field_id="{{ field.id_for_label }}" label="{{ field.label }}" input_type="{{ field.field.widget.input_type|default:'text' }}" :value="field.value" :required="field.field.required" :errors="field.errors" :subtitle="field.help_text" />
            {% endfor %} {% endcomment %}
            <c-dac.action-group>
                <c-dac.action type="submit"
                              name="action"
                              text="{% trans "Change Password" %}" />
                <c-dac.action variant="secondary"
                              type="submit"
                              form="logout-from-stage"
                              text="{% trans "Cancel" %}" />
            </c-dac.action-group>
        </c-dac.form>
        {% if not cancel_url %}
            <form id="logout-from-stage"
                  method="post"
                  action="{% url "account_logout" %}">
                <input type="hidden"
                       name="next"
                       value="{% url "account_login" %}" />
                {% csrf_token %}
            </form>
        {% endif %}
    </c-dac.layout.entrance>
{% endif %}
