{% load i18n %}

<c-dac.page title="{% trans "Set Password" %}">
  <c-page.form-section>
    <c-card title="{% trans "Set Password" %}"
            icon="password">
      <c-dac.form method="post"
                  action="{% url "account_set_password" %}"
                  :form="form">
        {{ redirect_field }}
      </c-dac.form>
      <c-slot name="footer_end">
        <c-button type="submit"
                  form="{{ form.helper.form_id }}"
                  variant="primary"
                  name="action"
                  text="{% trans "Set Password" %}" />
      </c-slot>
    </c-card>
  </c-page.form-section>
</c-dac.page>
