{% load i18n %}

<c-dac.layout.standard title="{% trans "Password" %}">
  <c-dac.card title="{% trans "Change Password" %}">
    <c-dac.form id="changePassword"
                method="post"
                action="{% url "account_change_password" %}">
      {{ redirect_field }}
    </c-dac.form>
    <c-slot name="actions">
      <c-dac.action type="submit"
                    form="changePassword"
                    text="{% trans "Change Password" %}"
                    class="inline-flex items-center" />
      <c-dac.link href="{% url "account_reset_password" %}"
                  text="{% trans "Forgot Password?" %}"
                  style="margin-left: auto" />
    </c-slot>
  </c-dac.card>
</c-dac.layout.standard>
