{% load i18n account %}

<c-dac.entrance title="{% trans "Check Your Email" %}"
                help="{% trans "We've sent a password reset link to your email address." %}">
  {% if user.is_authenticated %}
    <c-alert variant="info">
      {% trans "You are already signed in." %}
    </c-alert>
  {% endif %}
  <div>
    <h5>{% trans "What's next?" %}</h5>
    <ul>
      <li>{% trans "Check your email inbox for our message" %}</li>
      <li>{% trans "Click the reset link within 24 hours" %}</li>
      <li>{% trans "Create a new secure password" %}</li>
    </ul>
  </div>
  <c-alert variant="primary">
    <h5 class="alert-heading">{% trans "Didn't receive the email?" %}</h5>
    <ul>
      <li>{% trans "Check your spam or junk folder" %}</li>
      <li>{% trans "Make sure you entered the correct email address" %}</li>
      <li>{% trans "Wait a few minutes - emails can sometimes be delayed" %}</li>
    </ul>
    <c-button variant="secondary"
              class="w-100"
              href="{% url "account_reset_password" %}"
              icon="refresh"
              text="{% trans "Resend Reset Email" %}" />
  </c-alert>
  <c-vstack>
    <c-button text="{% trans "Continue to Sign In" %}"
              href="{% url "account_login" %}"
              variant="primary"
              reverse
              icon="arrow-right" />
  </c-vstack>
</c-dac.entrance>
