{% extends "account/base_entrance.html" %}
{% load i18n %}

{% block title %}
  {% trans "Request sign-in code" %}
{% endblock title %}

{% block content %}
  <c-entrance.section text="{% trans "You will receive a special code for a password-free sign-in." %}">
    <c-form method="post"
            action="{{ request_login_code_url }}"
            :form-obj="form">
      {{ redirect_field }}
      <c-group>
        <c-button text="{% trans "Send code" %}"
                  icon="send"
                  type="submit"
                  variant="primary"
                  size="lg" />
      </c-group>
    </c-form>
  </c-entrance.section>
  <c-text small>
    <a href="{{ login_url }}">{% trans "Other sign-in options" %}</a>
  </c-text>
{% endblock content %}
