{% extends "account/base_entrance.html" %}
{% load i18n socialaccount %}

{% block title %}
  {% trans "Create your account" %}
{% endblock title %}

{% block content %}
  {% if SOCIALACCOUNT_ENABLED %}
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
      <c-entrance.section text="{% trans "Using your preferred third-party provider." %}">
        {% include "socialaccount/snippets/provider_list.html" with process="signup" %}
      </c-entrance.section>
      {% if not SOCIALACCOUNT_ONLY %}
        <c-card.divider text="{% trans "or" %}" />
      {% endif %}
    {% endif %}
  {% endif %}
  {% if not SOCIALACCOUNT_ONLY %}
    <c-entrance.section text="{% trans "By filling out the form below." %}">
      <c-form method="post"
              action="{% url 'account_signup' %}"
              :form-obj="form">
        {{ redirect_field }}
        <c-button.stack>
          <c-button text="{% trans "Create account" %}"
                    icon="login"
                    size="lg"
                    type="submit"
                    variant="primary"
                    reverse />
        </c-button.stack>
      </c-form>
    </c-entrance.section>
  {% endif %}
  {% if PASSKEY_SIGNUP_ENABLED %}
    <c-card.divider text="{% trans "or" %}" />
    <c-entrance.section text="{% trans "By saving a passkey to your personal device." %}">
      <c-button.stack>
        <c-button href="{{ signup_by_passkey_url }}"
                  icon="passkey"
                  size="lg"
                  text="{% trans "Use passkey" %}"
                  class="border-light-subtle" />
      </c-button.stack>
    </c-entrance.section>
  {% endif %}
  {% if login_url %}
    <c-entrance.text small>
      {% blocktrans with login_url=login_url %}
                Already have an account? <a href="{{ login_url }}">Sign in</a>.
            {% endblocktrans %}
    </c-entrance.text>
  {% endif %}
{% endblock content %}
