{% extends "account/base_entrance.html" %}
{% load i18n %}

{% block title %}
  {% trans "Sign up with a passkey" %}
{% endblock title %}

{% block content %}
  <c-entrance.section>
    <c-form method="post"
            action="{% url "account_signup_by_passkey" %}"
            :form-obj="form">
      {{ redirect_field }}
      <c-button.stack>
        <c-button text="{% trans "Create passkey" %}"
                  icon="passkey"
                  size="lg"
                  type="submit"
                  variant="primary" />
      </c-button.stack>
    </c-form>
  </c-entrance.section>
  {% if signup_url %}
    <c-entrance.text small>
      <a href="{{ signup_url }}">{% trans "Sign up with alternative method" %}</a>
    </c-entrance.text>
  {% endif %}
{% endblock content %}
