{% load i18n %}

<c-dac.entrance title="{% trans "Signup" %}"
                subtitle="{% trans "Passkey Sign Up" %}">
  <c-dac.form method="post"
              action="{% url "account_signup_by_passkey" %}"
              :form="form">
    {{ redirect_field }}
    <c-button variant="primary"
              text="{% trans "Sign Up" %}"
              type="submit"
              form="{{ form.helper.form_id }}" />
  </c-dac.form>
  <c-card.divider text="{% trans "Or" %}" />
  <p class="text-center small">
    <c-link href="{{ signup_url }}"
            text="{% trans "Other options" %}" />
  </p>
</c-dac.entrance>
