{% load i18n socialaccount dac %}

{% get_providers as socialaccount_providers %}
<c-component is="dac.login.side-by-side"
             help="{% trans "Create your account and get started today" %}">
  <c-slot name="social_providers">
    {% if socialaccount_providers %}
      {% include "socialaccount/provider_list.html" %}
    {% endif %}
  </c-slot>
  <c-slot name="passkey">
    <c-button href="{{ signup_by_passkey_url }}"
              class="p-2 w-100 border-secondary-subtle justify-content-center align-items-center"
              text="{% trans "Sign up with passkey" %}"
              icon="passkey"
              :condition="PASSKEY_SIGNUP_ENABLED" />
  </c-slot>
  {% if not SOCIALACCOUNT_ONLY %}
    <c-slot name="login_form">
      <c-dac.form method="post"
                  action="{% url "account_signup" %}"
                  :form="form">
        {{ redirect_field }}
        <c-button text="{% trans "Create Account" %}"
                  class="w-100 justify-content-center align-items-center"
                  large
                  variant="primary"
                  type="submit"
                  form="{{ form.helper.form_id }}"
                  icon="login" />
      </c-dac.form>
      <p class="text-center small mt-2">
        {% trans "Already have an account?" %}
        <c-link href="{{ login_url }}"
                text="{% trans "Sign in" %}" />
      </p>
    </c-slot>
  {% endif %}
</c-component>
