{% load i18n %}

<c-dac.page title="{% trans "Verify Your Email Address" %}">
  <c-page.form-section>
    <c-card title="{% trans "Verify Your Email Address" %}"
            icon="email">
      <div class="text-center mb-6">
        <div class="w-16 h-16 bg-yellow-100 rounded-full flex items-center justify-center mx-auto">
          <c-icons.message />
        </div>
      </div>
      <div class="space-y-4">
        <p>
          {% blocktrans %}This part of the site requires us to verify that you are who you claim to be. For this purpose, we require that you verify ownership of your email address.{% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}We have sent an email to you for verification. Please click on the link inside that email. If you do not see the verification email in your main inbox, check your spam folder. Otherwise contact us if you do not receive it within a few minutes.{% endblocktrans %}
        </p>
        <p>
          {% url "account_email" as email_url %}
          {% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}" class="text-indigo-600 hover:text-indigo-500">change your email address</a>.{% endblocktrans %}
        </p>
      </div>
      <c-slot name="footer_end">
        <c-button href="{{ email_url }}"
                  variant="primary"
                  text="{% trans "Manage Email Addresses" %}" />
      </c-slot>
    </c-card>
  </c-page.form-section>
</c-dac.page>
