{% load i18n %}

<c-dac.entrance title="{% trans "Verification email sent" %}"
                help="{% trans "We have sent an email to you for verification" %}">
  <p class="card-text text-center">
    {% trans "Please follow the link we sent to your email in order to finalize the signup process. If you can't find the verification email in your main inbox, be sure to check your spam folder. Please contact us if you do not receive the verification email within a few minutes." %}
  </p>
</c-dac.entrance>
