{% extends "account/base_manage.html" %}
{% load i18n %}

{% block title %}
  {% trans "Verify your email address" %}
{% endblock title %}

{% block page.content %}
  {% url 'account_email' as email_url %}
  <c-card title="{% trans "Verify your email address" %}"
          icon="warning"
          level="1"
          fs="3">
    <c-text center impact>
      {% blocktrans %}To acces this part of the site, you must first verify your email address.{% endblocktrans %}
    </c-text>
    <c-text center>
      {% blocktrans %}We have sent an email to you for verification. Please click on
      the link inside that email. If you do not see the verification email in your main
      inbox, check your spam folder. If you do not receive it within 10 minutes, please contact us.{% endblocktrans %}
    </c-text>
    <c-text center small>
      {% blocktrans %}<strong>Note:</strong> you can still
      <a href="{{ email_url }}">change your email address</a>.{% endblocktrans %}
    </c-text>
  </c-card>
{% endblock page.content %}
