{% extends "mfa/recovery_codes/base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Generate Recovery Codes" %}
{% endblock title %}

{% block page.header %}
  {{ block.super }}
  <c-breadcrumbs.item href="{% url 'mfa_index' %}"
                      text="{% trans 'Two-Factor Authentication' %}" />
  <c-breadcrumbs.item href="{% url 'mfa_view_recovery_codes' %}"
                      text="{% trans 'Recovery Codes' %}" />
  <c-breadcrumbs.item text="{% trans 'Generate' %}" />
{% endblock page.header %}

{% block page.content %}
  <c-form.card method="post"
               action="{% url 'mfa_generate_recovery_codes' %}"
               title="{% trans 'Generate Recovery Codes' %}">
    {% csrf_token %}
    <c-slot name="form_actions">
      <c-button type="submit"
                variant="{% if unused_code_count > 0 %}danger{% else %}primary{% endif %}"
                text="{% trans 'Generate New Codes' %}" />
      </c-slot>
      {% if unused_code_count > 0 %}
        <p class="text-danger">
          {% blocktrans with count=unused_code_count %}
          Warning: generating new codes will invalidate your {{ count }} existing unused code(s).
        {% endblocktrans %}
        </p>
      {% endif %}
    </c-form.card>
  {% endblock page.content %}
