<c-vars icon_class :visible="True" />
{% if visible %}
  {# djlint:off #}
<{% if href %}a{% else %}button{% endif %} class="btn btn-lg w-100 shadow-sm d-flex align-items-center justify-content-center gap-2 {{ class }}" {{ attrs }}>
  {# djlint:on #}
  {% if icon %}<c-dac.icon name="{{ icon }}" class="{{ icon_class }}" />{% endif %}
  {% if text %}<span class="text-truncate fs-6">{{ text }}</span>{% endif %}
  {# djlint:off #}
</{% if href %}a{% else %}button{% endif %}>
  {# djlint:on #}
{% endif %}
