{% extends "mfa/webauthn/base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Add Security Key" %}
{% endblock title %}

{% block page.breadcrumbs %}
  {{ block.super }}
  <c-breadcrumbs.item href="{% url 'mfa_index' %}"
                      text="{% trans 'Two-Factor Authentication' %}" />
  <c-breadcrumbs.item href="{% url 'mfa_list_webauthn' %}"
                      text="{% trans 'Security Keys' %}" />
  <c-breadcrumbs.item text="{% trans 'Add' %}" />
{% endblock page.breadcrumbs %}

{% block page.content %}
  <c-form.card title="{% trans 'Add Security Key' %}"
               method="post"
               action="{% url 'mfa_add_webauthn' %}">
    {% csrf_token %}
    <c-slot name="actions">
      <c-button type="submit"
                id="mfa_webauthn_add"
                text="{% trans 'Register Key' %}" />
    </c-slot>
    {{ form.passwordless }}
    {{ form.credential }}
  </c-form.card>
{% endblock page.content %}

{% block extra_js %}
  {{ block.super }}
  {% include "mfa/webauthn/snippets/scripts.html" %}
  {{ js_data|json_script:"js_data" }}
  <script data-allauth-onload="allauth.webauthn.forms.addForm" type="application/json">
    {
      "ids": {
        "add": "mfa_webauthn_add",
        "passwordless": "{{ form.passwordless.auto_id }}",
        "credential": "{{ form.credential.auto_id }}",
        "data": "js_data"
      }
    }
  </script>
{% endblock extra_js %}
