{% load i18n %}

<c-dac.page title="{% trans "Remove Security Key" %}">
  <c-page.form-section>
    <c-card title="{% trans "Remove Security Key" %}"
            icon="delete">
      <p>{% trans "Are you sure you want to remove this security key?" %}</p>
      <form method="post"
            action="{% url "mfa_remove_webauthn" pk=authenticator.pk %}"
            id="removeSecurityKeyForm">
        {% csrf_token %}
      </form>
      <c-slot name="footer_end">
        <c-button variant="secondary"
                  href="{% url "mfa_list_webauthn" %}"
                  text="{% trans "Cancel" %}" />
        <c-button variant="danger"
                  type="submit"
                  form="removeSecurityKeyForm"
                  text="{% trans "Remove" %}" />
      </c-slot>
    </c-card>
  </c-page.form-section>
</c-dac.page>
