{% extends "mfa/webauthn/base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Remove Security Key" %}
{% endblock title %}

{% block page.header %}
  {{ block.super }}
  <c-breadcrumbs.item href="{% url 'mfa_index' %}"
                      text="{% trans 'Two-Factor Authentication' %}" />
  <c-breadcrumbs.item href="{% url 'mfa_list_webauthn' %}"
                      text="{% trans 'Security Keys' %}" />
  <c-breadcrumbs.item text="{% trans 'Remove' %}" />
{% endblock page.header %}

{% block page.content %}
  <c-form.card method="post"
               action="{% url 'mfa_remove_webauthn' pk=authenticator.pk %}"
               title="{% trans 'Remove Security Key' %}">
    {% csrf_token %}
    <c-slot name="form_actions">
      <c-button type="submit"
                variant="danger"
                text="{% trans 'Remove' %}" />
    </c-slot>
    <p>
      {% blocktrans with name=authenticator.wrap.name %}Are you sure you want to remove the security key "{{ name }}"?{% endblocktrans %}
    </p>
  </c-form.card>
{% endblock page.content %}
