{% load i18n static dac %}

<c-dac.page title="{% trans "Edit Security Key" %}">
  <c-page.form-section>
    <c-card title="{% trans "Edit Security Key" %}"
            icon="edit">
      {% url "mfa_edit_webauthn" as action_url %}
      {% render_form form action=action_url %}
      <c-slot name="footer_end">
        <c-button type="submit"
                  variant="primary"
                  id="mfa_webauthn_edit"
                  form="{{ form.helper.form_id }}"
                  text="{% trans "Save" %}" />
      </c-slot>
    </c-card>
  </c-page.form-section>
</c-dac.page>
