{% extends "page_view.html" %}
{% load i18n %}

{% block app.sidebar %}
  <c-app.sidebar menu="Account Center Menu" />
{% endblock app.sidebar %}

{% block page.header %}
  <c-slot name="header">
    <c-container fluid>
      <c-mvp-toolbar>
        <c-breadcrumbs class="py-1">
          {% block page.breadcrumbs %}
            <c-breadcrumbs.item text="{% trans "Account Center" %}"
                                href="{% url "account-center" %}" />
          {% endblock page.breadcrumbs %}

        </c-breadcrumbs>
      </c-mvp-toolbar>
    </c-container>
  </c-slot>
{% endblock page.header %}
