{% extends "mvp/base.html" %}
{% load flex_menu %}

{% block extra_css %}
  <style>
    .hide-action-text .btn-text {
      display: none;
    }

    .mvp-container-left {
      flex-grow: 1;
    }
  </style>
{% endblock extra_css %}

{% block app %}
  <c-app fixed_sidebar
         fixed_header
         sidebar_collapsible
         sidebar_expand="lg">
    <c-app.header>
      <c-slot name="right">
        <c-navbar.widgets.fullscreen />
        <c-navbar.widgets.theme-switcher />
        <c-navbar.widgets.user />
      </c-slot>
    </c-app.header>
    <c-app.sidebar>
      <c-button text="Back to Site"
                variant="secondary"
                outline
                icon="arrow-left"
                href="/"
                class="w-100 mb-3" />
      {% render_menu "Account Center Menu" renderer="adminlte" %}
    </c-app.sidebar>
    <c-app.main>
      {% block main %}
      {% endblock main %}

    </c-app.main>
    <c-app.footer />
  </c-app>
{% endblock app %}
